html, body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;

    display: block;

    max-width: 800px;
    background: rgb(180, 180, 180);


    font-family: Arial;
    text-align: center;
}

#root {
    height: 100%;
    width: 100%;
}

.Loading{
    height: 100%;
    width: 100%;

    max-width: 500px;
    max-height: 1000px;
    
    display: block;

    background: url("../../public/img/Loadingbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-family: Arial;
    text-align: center;
   
}

.Loadimg{
    display: flex;
    position:relative;

    max-width: 500px;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    top: 60%;
    bottom: 50%;
}

.Tembtn3{
    display: flex;
    position:relative;

    max-width: 500px;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    top: 80%;
    bottom: 50%;
}







