html, body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;

    max-width: 800px;
    background: rgb(180, 180, 180);


    font-family: Arial;
    text-align: center;
}

#root {
    height: 100%;
    width: 100%;
}

.Loading{
    height: 100%;
    width: 100%;
    background: url("../../public/img/loadingbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tembtn3Link{
    position: fixed;
    display: block;
    bottom: 16px;
}

.Tembtn3 {
    width: 80%;
}


.Loadimg{
    max-width: 500px;
    width: 60%;
    height: auto;
    margin-left: 0%;
    z-index: 2;
    top: 0%;
}

@keyframes animation_Tembtn3 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
}


.Tembtn3{
    position:relative;

    max-width: 500px;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    animation: animation_Talk5 3s;
    animation-fill-mode: forwards;

    margin-top: 90%;
}







