
#root {
  height: 100%;
  width: 100%;
}

.SucET{
  width: 100%;
  background: url("../../public/img/Sucbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


/* .Sucparent{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.Str1{
  position:relative;

  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
  top: 0%;
  bottom: 15%;

  z-index: 3;
} */

.SucETimg{
  position: relative;

  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
  top: 0px;
  z-index: 2;
}

.Smtbtn{
  position: relative;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10%;
  top: -80px;
  }