body{
    background: #01A560;
    /*color: blue;*/
    margin: 10px;
    font-family: Arial;
    text-align: center;

    
}
/* 랜딩페이지  
position: relative;
width: 411px;
height: 823px;
overflow-y: scroll;*/

.title {
    position: absolute;
    width: 290px;
    height: 56px;
    left: 61px;
    top: 99px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 56px;

    color: #FFFFFF;
  }

