body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;

    max-width: 500px;
    max-height: 1000px;
    
    display: block;

    background: url("https://i.ibb.co/p0WSTjG/BG-dark-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    font-family: Arial;
    text-align: center;
    
}

.topbar1{
    margin: 1%;
    width: 98%;
    max-width: 500px;
    height: 5%;

    top: 1%;
    position: absolute;

    vertical-align: middle;

    object-fit: contain;

    background: url("https://i.ibb.co/gdHTLZD/TOPBAR.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    
}
.comment{
    position: absolute;
    width: 100%;
    max-width: 500px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    top: 9%;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.05em;
    
    color: #000000;
}

.rec1 {
    width: 100%;
    max-width: 500px;
    height: 25%;
    
    bottom :30%;
    position: absolute;
  }
  .rec2 {
    width: 100%;
    max-width: 500px;
    height: 25%;
    
    bottom: 3%;
    position: absolute;
  }

.abtn1 {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;

    float: left;
    border: 0;

    background: url("https://i.ibb.co/Jt05PRf/Group-7.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.abtn2 {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: block;

    float: left;
    border: 0;
 
    background: url("https://i.ibb.co/dQQ6fhj/Group-6.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.abtn3 {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: block;

    float: left;
    border: 0;

    background: url("https://i.ibb.co/Bsm99Zj/Group-4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.abtn4 {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: block;

    float: left;
    border: 0;

    background: url("https://i.ibb.co/GkvNBcL/Group-5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


