.mission1{
    height: 100%;
    width: 100%;

    max-width: 500px;
    max-height: 1000px;
    
    display: block;

    background: url("https://i.ibb.co/tDYKGH4/BG-dark-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    font-family: Arial;
    text-align: center;
   
}

.topbar1{
    width: 100%;
    max-width: 500px;
    height: 8%;

    top: 1%;
    position : fixed;
}

.topbar1s{
    width: 28%;
    height: 100%;

    left: 5%;
    position: absolute;

    background: url("https://i.ibb.co/ZxRF0Ds/Sta1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.topbar1m{
    width: 48%;
    height: 100%;

    right: 5%;
    position: absolute;

    background: url("https://i.ibb.co/vqkHMrJ/Mis1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.comment1{
    position: absolute;
    width: 100%;
    max-width: 500px;
    height: 6%;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    z-index: 3;

    background: url("https://i.ibb.co/1rVnw1b/image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    color: #000000;
}

.rec1 {
    width: 100%;
    max-width: 500px;
    height: 25%;
    
    bottom :30%;
    position: absolute;
  }
  .rec2 {
    width: 100%;
    max-width: 500px;
    height: 25%;
    
    bottom: 3%;
    position: absolute;
  }

.abtn1 {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;

    float: left;
    border: 0;

    background: url("https://i.ibb.co/3pfdCFS/Group-7.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.abtn1:active{
    transform: scale( 1.2, 1.2 )
}

.abtn2 {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: block;

    float: left;
    border: 0;
 
    background: url("https://i.ibb.co/BnMXg7w/Group-6.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.abtn2:active{
    transform: scale( 1.2, 1.2 )
}

.abtn3 {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: block;

    float: left;
    border: 0;

    background: url("https://i.ibb.co/TMCgL9d/Group-5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.abtn3:active{
    transform: scale( 1.2, 1.2 )
}

.abtn4 {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: block;

    float: left;
    border: 0;

    background: url("https://i.ibb.co/7yPJngp/Group-4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.abtn4:active{
    transform: scale( 1.2, 1.2 )
}

