html, body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
  
    display: block;
  
    max-width: 500px;
  
    font-family: Arial;
    text-align: center;
  }
  
  #root {
    height: 100%;
    width: 100%;
  }
  
.HintPage{

    max-width: 500px;
    max-height: 1000px;
    background: url("../../public/img/Hintbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  .Hintimg{
    position: relative;
    width: 100%;
    top: -100px;

  }

.Xbtn{
  display: flex;
  position:relative;

  width: 15%;
  height: auto;
  margin-left: 80%;
  margin-right: auto;
  z-index: 2;

  }
