
html, body{
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;

  display: block;

  max-width: 800px;
  background: #fff;

  font-family: Arial;
  text-align: center;
}
  #root {
    height: 100%;
    width: 100%;
  }
  
.HintPage{

    max-width: 500px;
    height: 100%;
    background: url("https://i.ibb.co/TH61TxD/Hintbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

.Tembtn5{
  display: flex;
  position:relative;

  max-width: 500px;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
  top: 85%;
  bottom: 50%;
}
