body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;

    max-width: 500px;
    max-height: 1000px;
    
    display: block;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    font-family: Arial;
    text-align: center;
    
}

.mission3{
    height: 100%;
    width: 100%;

    max-width: 500px;
    max-height: 1000px;
    
    display: block;

    background: url("https://i.ibb.co/CKk1Kz1/back3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    font-family: Arial;
    text-align: center;
   
}

  .result3_y {
    width: 70%;
    max-width: 500px;
    height: 80%;
    margin-left: 15%;
    margin-right: 15%;
    
    bottom: 3%;
    position:absolute;
    
    border: 0;

    background: url("https://i.ibb.co/qRqdHzm/Group-27.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.result3_b {
  width: 70%;
  max-width: 500px;
  height: 80%;
  margin-left: 15%;
  margin-right: 15%;
  
  bottom: 3%;
  position:absolute;
  
  border: 0;

  background: url("https://i.ibb.co/g7JxZ3G/Group-29.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.result3_g {
  width: 70%;
  max-width: 500px;
  height: 80%;
  margin-left: 15%;
  margin-right: 15%;
  
  bottom: 3%;
  position:absolute;
  
  border: 0;

  background: url("https://i.ibb.co/99nkmtZ/Group-28.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}