.mission3Result{
    height: 100%;
    width: 100%;

    max-width: 500px;
    max-height: 1000px;
    
    display: block;

    background: url("https://i.ibb.co/tc9dy3t/Group-24-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    font-family: Arial;
    text-align: center;
   
}

.comment3r{
  position: absolute;
  width: 100%;
  max-width: 500px;
  height: 6%;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  z-index: 3;

  background: url("https://i.ibb.co/DCCPwtY/image.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  color: #000000;
}


  .result3_y {
    width: 100%;
    max-width: 500px;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    
    bottom: 3%;
    position:absolute;
    
    border: 0;

    background: url("https://i.ibb.co/TKH6Lmf/water-Y.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.result3_b {
  width: 100%;
  max-width: 500px;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  
  bottom: 3%;
  position:absolute;
  
  border: 0;

  background: url("https://i.ibb.co/VvJsvHn/water-B.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.result3_g {
  width: 100%;
  max-width: 500px;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  
  bottom: 3%;
  position:absolute;
  
  border: 0;

  background: url("https://i.ibb.co/d6S7pRP/water-G.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.next_btn3{
  width: 100%;
  max-width: 500px;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  bottom:5%;

  position:absolute;
  display: block;

  background: url("https://i.ibb.co/kchRDzG/resault-Button.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}