body{
    max-width: 768px;
    height: max-content;
    background: #fff;
    
    margin-left : auto;
    margin-right: auto;


    font-family: Arial;
    text-align: center;
}
.rec {
    width: 100%;
    height: 50px;

    margin-bottom: 10px;

    background: #DADADA;
  }

.pic{
    margin-left : auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    display: block;
    width: 144px;
    height: 144px;
    background: url(https://item.kakaocdn.net/do/bf9484270292c7d8dc3e014beabb26a68f324a0b9c48f77dbce3a43bd11ce785);
}

.btn1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;

    width: 332px;
    height: 63px;
    border-radius: 46px;
    border:0;
    outline: 0;
    background: #DADADA;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;  
}

.btn2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    width: 332px;
    height: 63px;
    border-radius: 46px;
    border:0;
    outline: 0;
    background: #5DFFC1;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;  
}

.he1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-around;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;

    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    font-feature-settings: 'calt' off;

    color: #000000;
}

.he2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 22px;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    font-feature-settings: 'calt' off;

    color: #000000;
}


.he3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;


    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    font-feature-settings: 'calt' off;

    color: #5F5F5F;
}

