.mission2{
    height: 100%;
    width: 100%;

    max-width: 500px;
    max-height: 1000px;
    
    display: block;

    background: url("https://i.ibb.co/SR4nv3W/Group-23-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    font-family: Arial;
    text-align: center;
   
}

.topbar2{
    width: 100%;
    max-width: 500px;
    height: 8%;

    z-index: 3;

    top: 1%;
    position : fixed;
}

.topbar2s{
    width: 28%;
    height: 100%;

    left: 5%;
    position: absolute;

    background: url("https://i.ibb.co/gm8fswD/Group-44.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.topbar2m{
    width: 48%;
    height: 100%;

    right: 5%;
    position: absolute;

    background: url("https://i.ibb.co/Y23hg6d/Group-43.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.comment2{
    position: absolute;
    width: 100%;
    max-width: 500px;
    height: 6%;
    margin-left: auto;
    margin-right: auto;
    top: 10%;
    z-index: 3;

    background: url("https://i.ibb.co/C7wr6Ps/Group-40.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    color: #000000;
}


.brec1 {
    width: 100%;
    max-width: 500px;
    height: 20%;
    
    bottom :10%;
    position: absolute;

    align-items: center;
  }

.brec2 {
    width: 100%;
    max-width: 500px;
    height: 8%;
    
    bottom :2%;
    position: absolute;

    align-items: center;
  }


.bbtn1 {
    width: 33.3%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;

    float: left;
    border: 0;

    background: url("https://i.ibb.co/1J2xNM0/Group-10.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bbtn1:active{
    transform: scale( 1.2, 1.2 )
}

.bbtn2 {
    width: 33.3%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: block;

    float: left;
    border: 0;
 
    background: url("https://i.ibb.co/bRfwR4b/Group-9.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bbtn2:active{
    transform: scale( 1.2, 1.2 )
}

.bbtn3 {
    width: 33.3%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: block;

    float: left;
    border: 0;

    background: url("https://i.ibb.co/tcgFx5V/Group-8.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bbtn3:active{
    transform: scale( 1.2, 1.2 )
}

.next_btn{
    width: 20%;
    height: 100%;
    margin-right: 8%;

    bottom: 0;
    display: block;
    float: right;

    border: 0;

    background: url("https://i.ibb.co/RpJgG3M/NEXTButton-3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


