html, body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;

    display: block;

    max-width: 800px;
    background: #fff;


    font-family: Arial;
    text-align: center;
}

#root {
    height: 100%;
    width: 100%;
}

.Game_intro{
    height: 100%;
    width: 100%;

    max-width: 500px;
    max-height: 1000px;
    
    display: block;

    background: url("https://i.ibb.co/P5CNNHk/introbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-family: Arial;
    text-align: center;
   
}

.Talk1{
    display: flex;

    position: absolute;
    
    width: 382px;
    height: 78px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}

.Talk2{
    display: flex;

    position: absolute;
    width: 458px;
    height: 126px;
    margin-top: 200px;
    margin-bottom: 20px;
}

.Talk3{
    display: flex;

    position: absolute;
    width: 365px;
    height: 78px;   
    margin-top: 350px;
    margin-bottom: 20px;
}

.Talk4{
    display: flex;

    position: absolute;
    width: 435px;
    height: 153px;
    margin-top: 450px;
    margin-bottom: 20px;
}

.Talk5{
    display: flex;

    position: absolute;
    width: 339px;
    height: 78px;
    margin-top: 600px;
    margin-bottom: 20px;
}

.Talk6{
    display: flex;

    position: absolute;
    width: 196px;
    height: 74px;
    margin-top: 700px;
    margin-bottom: 20px;
}

.btn1 {
    width: 50%;
    height: 100%;
    margin: auto;

    display: flex;
    align-items: center;

    float: row;
    border: 0;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



