html, body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;

    display: block;

    max-width: 800px;
    background: #fff;

    font-family: Arial;
    text-align: center;
}

#root {
    height: 100%;
    width: 100%;
}

.GameIntro{
    height: 100%;
    width: 100%;

    max-width: 500px;
    max-height: 1000px;
    
    display: flex;

    background: url("https://i.ibb.co/P5CNNHk/introbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-family: Arial;
    text-align: center;
   
}

.Talk1{
    display: flex;

    max-width: 300px;
    margin-left: 5%;
    margin-right: auto;
    position: relative;
    margin-top: 30%;
  
    border: 0;
}

.Talk2{
    display: flex;

    max-width: 350px;
    margin-left: 5%;
    margin-right: auto;
    position: relative;
    margin-top: 5%;
  
    border: 0;
}

.Talk3{
    display: flex;

    max-width: 280px;
    margin-left: 5%;
    margin-right: auto;
    position: relative;
    margin-top: 5%;
  
    border: 0;
}

.Talk4{
    display: flex;

    max-width: 330px;
    margin-left: 5%;
    margin-right: auto;
    position: relative;
    margin-top: 7%;
  
    border: 0;
}

.Talk5{
    display: flex;

    max-width: 270px;
    margin-left: 5%;
    margin-right: auto;
    position: relative;
    margin-top: 5%;
  
    border: 0;
}

.Talk6{
    display: flex;

    max-width: 160px;
    margin-left: 5%;
    margin-right: auto;
    position: relative;
    margin-top: 7%;
  
    border: 0;
}

.Tembtn1{
    display: flex;
    position:relative;

    max-width: 500px;
    width: 100%;
    left: 0px;
    right: 0px;
    height: auto;

    top: 80%;
}