
html, body{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;

    display: block;

    max-width: 800px;
    background: #fff;

    font-family: Arial;
    text-align: center;
}

#root {
    height: 100%;
    width: 100%;
}

.GameIntro{
    height: 100%;
    width: 100%;

    max-width: 500px;
    max-height: 1000px;
    
    display: block;

    background: url("https://i.ibb.co/P5CNNHk/introbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-family: Arial;
    text-align: center;
   
}

.Talk1{
    display: flex;

    max-width: 400px;
    margin-left: 5%;
    margin-right: auto;
    position: relative;
    margin-top: 5%;
  
    border: 0;
}

.Talk2{
    display: flex;

    max-width: 450px;
    margin-left: 5%;
    margin-right: auto;
    position: relative;
    margin-top: 5%;
  
    border: 0;
}

.Talk3{
    display: flex;

    position: absolute;
    width: 365px;
    height: 78px;   
    margin-top: 350px;
    margin-bottom: 20px;
}

.Talk4{
    display: flex;

    position: absolute;
    width: 435px;
    height: 153px;
    margin-top: 450px;
    margin-bottom: 20px;
}

.Talk5{
    display: flex;

    position: absolute;
    width: 339px;
    height: 78px;
    margin-top: 600px;
    margin-bottom: 20px;
}

.Talk6{
    display: flex;

    position: absolute;
    width: 196px;
    height: 74px;
    margin-top: 700px;
    margin-bottom: 20px;
}

.Tembtn1{
    display: flex;
    position:relative;

    max-width: 500px;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    top: 80%;
    bottom: 50%;
}



