.GameIntro{
    width: 100%;

    background: url("../../public/img/GameIntrobg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    font-family: Arial;
    text-align: center;
   
}

@keyframes animation_Talk1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.Talk1{
    width: 70%;
    float: left;
    position: relative;
    padding: 5%;
    
    opacity: 100%;
    animation: animation_Talk1 2s;
    animation-fill-mode: forwards;
    margin-top: 20%;

    border: 0;
}

@keyframes animation_Talk2 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
}

.Talk2{

    width: 80%;
    float: left;
    position: relative;
    padding: 5%;
    
    opacity: 100%;
    animation: animation_Talk2 3s;
    animation-fill-mode: forwards;

    border: 0;
}


@keyframes animation_Talk3 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
}

.Talk3{

    width: 63%;
    float: left;
    position: relative;
    padding: 5%;
    
    opacity: 100%;
    animation: animation_Talk3 5s;
    animation-fill-mode: forwards;

    border: 0;
}

@keyframes animation_Talk4 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
}

.Talk4{

    width: 75%;
    float: left;
    position: relative;
    padding: 5%;
    
    opacity: 100%;
    animation: animation_Talk4 7s;
    animation-fill-mode: forwards;

    border: 0;
}

@keyframes animation_Talk5 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
}

.Talk5{
    width: 60%;
    float: left;
    position: relative;
    padding: 5%;
    
    opacity: 100%;
    animation: animation_Talk5 9s;
    animation-fill-mode: forwards;

    border: 0;
}


@keyframes animation_Talk6 {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
}

.Talk6{
    width: 35%;
    float: left;
    position: relative;
    padding: 5%;
    
    opacity: 100%;
    animation: animation_Talk6 11s;
    animation-fill-mode: forwards;

    border: 0;
}


@keyframes animation_Nextbtn {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
}

.Nextbtn{
    position:relative;

    width: 80%;
    margin-left: auto;
    margin-right: auto;

    opacity: 100%;
    animation: animation_Nextbtn 13s;
    animation-fill-mode: forwards;

    margin-top: 10%;
    margin-bottom: 15%;
}