.mission2Result{
    height: 100%;
    width: 100%;

    max-width: 500px;
    max-height: 1000px;
    
    display: block;

    background: url("https://i.ibb.co/SR4nv3W/Group-23-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    font-family: Arial;
    text-align: center;
   
}

.comment2r{
    position: absolute;
    width: 100%;
    max-width: 500px;
    height: 3%;
    margin-left: auto;
    margin-right: auto;
    top: 12%;
    z-index: 3;

    background: url("https://i.ibb.co/bJfWFGY/LED.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    color: #000000;
}

.result2_light_w {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    top: 0%;
    position:relative;

    border: 0;

    background: url("https://i.ibb.co/D1Rtnhz/W.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.result2_light_r {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    top: 0%;
    position:relative;

    border: 0;

    background: url("https://i.ibb.co/hgJbzG0/R.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.result2_light_b {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    top: 0%;
    position:relative;

    border: 0;

    background: url("https://i.ibb.co/KNXq2fS/B.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.result2_light_c {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    top: 0%;
    position:relative;

    border: 0;

    background: url("https://i.ibb.co/FhCP5Fn/C.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.result2_light_g {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    top: 0%;
    position:relative;

    border: 0;

    background: url("https://i.ibb.co/JCHq9Gs/G.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.result2_light_m {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    top: 0%;
    position:relative;

    border: 0;

    background: url("https://i.ibb.co/CmM4fqy/M.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.result2_light_y {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    top: 0%;
    position:relative;

    border: 0;

    background: url("https://i.ibb.co/RTVVsKt/Y.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



