html, body{
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;

  display: block;

  max-width: 500px;

  font-family: Arial;
  text-align: center;
}

#root {
  height: 100%;
  width: 100%;
}

/*
.parent {
  background: src="img/Pattern1.png";
  width: 100%;
  height: 100%;
  position: relative;
}

.TopBG_png1 {
  background: src="img/TopBG_png1.png";
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 3;
}

 .Leaf {
  background-image: src="img/Leaf.png";
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 2;
} */

/* .child-3 {
  background-color: green;
  width: 50px;
  height: 50px;
  
  top: 90%;
  left: 25%;
  position: absolute;
  z-index: 1;
} */

.Landing{

  width: 500px;
  height: 1413px;;
  background: url("https://i.ibb.co/ydqZghb/Landingbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.TopBG {
  background: src="img/TopBG_png1.png";
  width: 100%;
  height: 100%;

  position: relative;
}

.rec {
  width: 100%;
  height: 50px;

  margin-bottom: 10px;

  background: #FFFFFF;
}

/* 무농약~유럽채소 받자 */
.he1{ 
  display: flex;

  position: absolute;
  width: 480px;
  height: 50px;
  margin-left: 10%;
  margin-right: auto;
  top: auto;

  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.05em;

  color: #000000;
}

/* 게임시작하기 */
.btn1 {
  position: absolute;
  width: 471px;
  height: 115px;
  left: 14px;
  top: 725px;
  
}

/* 이벤트 안내 */
.Frame1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 30px;

  position: absolute;
  width: 147px;
  height: 35px;
  margin-left: 30%;
  margin-right: auto;

  margin-top: 20px;

  top: 872px;

  background: #489E1D;
  border-radius: 16.5px;

}

/* 참여기간~참여완료! */
.he3{
  position: absolute;
  width: 438px;
  height: 108px;
  left: 42px;
  top: 927px;

  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 157.2%;
  /* or 31px */

  letter-spacing: -0.1em;

  color: #000000;
}

/* 경품안내 */
.Frame2 {
  /* Frame 2 */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 30px;

  position: absolute;
  width: 131px;
  height: 35px;
  margin-left: 30%;
  margin-right: auto;

  margin-top: 430px;

  background: #489E1D;
  border-radius: 16.5px;
}

/* 경품사진 */
.Frame4{
  /* Frame 4 */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 460.79px;
  height: 194px;
  left: 20px;
  top: 1145px;
}

.info{
  position: absolute;
  width: 400px;
  height: 40px;
  left: 10%;
  top: 1371px;
  margin-bottom: auto;
  
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 157.2%;
  /* or 20px */
  
  letter-spacing: -0.1em;
  
  color: #000000;
  
}
