html, body{
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;

  display: flex;

  max-width: 500px;

  font-family: Arial;
  text-align: center;
}

#root {
  height: 100%;
  width: 100%;
}

.Landing{
  width: 100%;
  background: url("../../public/img/Landingbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.LOGO {
  position: relative;
  max-width: 100%;
  margin-top: 15%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.Landingtext{
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* .Leaf{
  max-width: 100%;
  position: relative;
  z-index: 1;
} */

.RM{

  /* position: absolute; */
  width: 90px;
  height: auto;
  left: 5px;
margin-top: 1%;  
z-index: 2;
}


/* 무농약~유럽채소 받자 */
.Landingtext{ 
  display: flex;
  position: relative;
  width: 93%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  top: auto;
  bottom: 2%;
}

/* 게임시작하기 */
.YBUTTON {
  display: flex;

  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 7%;
  
}

/* 이벤트 안내 */
.Frame1 {
  display: flex;

  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 7%;
  margin-bottom: 7%;

  border: 0;
}

/* 참여기간~참여완료! */
.Ltext{
  display: flex;

  width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  margin-top: 7%;
  margin-bottom: 7%;

  color: #000000;
}

/* 경품안내 */
.Frame2 {
  display: flex;

  width: 28%;
  height: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 7%;
  margin-bottom: 7%;
  border: 0;
}

/* 경품사진 */
.Kit{
  display: flex;

  width: 80%;
  height: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 7%;
  margin-bottom: 7%;

  border: 0;
}

.info{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  
  top: 3%;
  position:relative;

  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 157.2%;
  /* or 20px */
  
  letter-spacing: -0.1em;
  margin-top: 7%;
  margin-bottom: 7%;

  color: #000000;
  
}


/*
.parent {
  background: src="img/Pattern1.png";
  width: 100%;
  height: 100%;
  position: relative;
}

.TopBG_png1 {
  background: src="img/TopBG_png1.png";
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 3;
}

 .Leaf {
  background-image: src="img/Leaf.png";
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 2;
} */

/* .child-3 {
  background-color: green;
  width: 50px;
  height: 50px;
  
  top: 90%;
  left: 25%;
  position: absolute;
  z-index: 1;
} */
