.mission3{
    height: 100%;
    width: 100%;

    max-width: 500px;
    max-height: 1000px;
    
    display: block;

    background: url("https://i.ibb.co/k4BDFQf/back3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    font-family: Arial;
    text-align: center;
   
}

.cbtn1 {
    width: 33.3%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;

    float: left;
    border: 0;

    background: url("https://i.ibb.co/qJR8bqt/Group-10-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cbtn2 {
    width: 33.3%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: block;

    float: left;
    border: 0;
 
    background: url("https://i.ibb.co/BTvnM3K/Group-9-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cbtn3 {
    width: 33.3%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: block;

    float: left;
    border: 0;

    background: url("https://i.ibb.co/f8PLqvs/Group-8-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} 


