
html, body{
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;

  display: block;

  max-width: 800px;
  background: #fff;

  font-family: Arial;
  text-align: center;
}
  #root {
    height: 100%;
    width: 100%;
  }
  
  .ResultFail{

    max-width: 500px;
    height: 100%;
    background: url("https://i.ibb.co/6JG68TQ/Result-Failbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  .Hint{
    display: flex;
    position:relative;

    max-width: 500px;
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    top: 70%;
    bottom: 50%;
  }

.Retry1{
  display: flex;
  position:relative;

  max-width: 500px;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
  top: 70%;
  bottom: 50%;
}

.Tembtn4{
  display: flex;
  position:relative;

  max-width: 500px;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
  top: 70%;
  bottom: 50%;
}
